.api-container {
  display: flex;
  flex-direction: column;
  margin: 0.5em;
  background-color: #9a989a;
  border-radius: 4px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.api-title {
  border-radius: 0.25em 0.25em 0em 0em;
  min-height: 1.3em;
  padding: 0.25em 1em;
  background-color: #6b6b6b;
}

.api-context {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.25em 1em;
}

.api-footer {
  border-radius: 0em 0em 0.25em 0.25em;
  background-color: #6b6b6b;
  padding: 0.25em 1em;
}

.space-between {
  display: flex;
  justify-content: space-between;
  padding: 0.25em 0.25em 0em 0em;
}

.space-between > label {
  font-weight: bold;
  padding-right: 0.5em;
}

.space-between > select {
  margin: 0.25em;
}

.error-message {
  min-height: 1.3em;
  color: rgb(150, 0, 0);
}
