/* ScrollableTable.css */
.scrollable-table-container {
    overflow-x: auto;
    max-width: 100%;
    max-height: 300px; /* Fixed height */
}

.scrollable-table {
    table-layout: auto; /* Allow cells to adjust width based on content */
    border-collapse: collapse;
    width: 100%; /* Ensure the table takes full width of its container */
    min-width: 600px; /* Optional: set a minimum width for the table */
}

.scrollable-table th,
.scrollable-table td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    background-color: white; /* Set background color to white */
}

/* Updated styling for header row */
.scrollable-table th {
    background-color: #4660af; /* Change background color */
    color: white; /* Set text color to white */
    border: none; /* Remove borders between categories */
}

/* Remove borders for all cells */
.scrollable-table td {
    border: none;
}

.scrollable-table tbody tr:hover {
    background-color: #ddd;
}
