.team-table-container {
    overflow-x: auto;
    max-width: 100%;
    max-height: 500px;
    position: relative;
  }
  
  .team-tables {
    table-layout: auto;
    border-collapse: collapse;
    width: auto;
    min-width: 300px;
  }
  
  .team-tables th,
  .team-tables td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    background-color: white;
    font-size: 16px;
  }
  
  .team-tables th {
    background-color: #4660af;
    color: white;
    border: none;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  .team-tables td {
    border: none;
  }
  
  .team-tables tbody tr:hover {
    background-color: #4660af;
    filter: brightness(120%);
  }
  