.scrollable-table-container {
    overflow-x: auto;
    max-width: 100%;
    max-height: 300px;
    position: relative;
}

.scrollable-table {
    table-layout: auto;
    border-collapse: collapse;
    width: 100%;
    min-width: 600px;
}

.scrollable-table th,
.scrollable-table td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    background-color: white;
}

.scrollable-table th {
    background-color: #4660af;
    color: white;
    border: none;
    position: sticky;
    top: 0;
    z-index: 1;
}

.scrollable-table td {
    border: none;
}

.scrollable-table tbody tr:hover {
    background-color: #220de0;
    filter: brightness(120%);
}