.match-report {
  display: grid;
  max-width: 1000px;
  grid-template-columns: 33% 17% 17% 33%;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 5px 5px;
  grid-template-areas:
    "top-table top-table top-table top-table"
    "area-one area-two area-two area-three"
    "area-four area-five area-five area-six"
    "area-seven area-seven area-eight area-eight";
}
.top-table {
  display: flex;
  grid-area: top-table;
  padding: 5px;
  border: 2px solid black;
}
.area-one {
  grid-area: area-one;
  padding: 5px;
  border: 2px solid black;
}
.area-two {
  grid-area: area-two;
  padding: 5px;
  border: 2px solid black;
}
.area-three {
  grid-area: area-three;
  padding: 5px;
  border: 2px solid black;
}
.area-four {
  grid-area: area-four;
  padding: 5px;
  border: 2px solid black;
}
.area-five {
  grid-area: area-five;
  padding: 5px;
  border: 2px solid black;
}
.area-six {
  grid-area: area-six;
  padding: 5px;
  border: 2px solid black;
}
.area-seven {
  grid-area: area-seven;
  padding: 5px;
  border: 2px solid black;
}
.area-eight {
  grid-area: area-eight;
  padding: 5px;
  border: 2px solid black;
}

.print-button-container {
  display: flex;
  justify-content: flex-end;
  margin: 0.5em;
  padding: 1em 1em;
  background-color: #9a989a;
  border-radius: 0.5em;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.print-button {
  background-color: #ed892c;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.print-button:hover {
  background-color: #ed692c;
}
