.container {
  display: flex;
  flex-direction: column;  
  background-color: #8b8b8b;
  border-radius: 10px;
  flex-grow: 1;
  margin: 5px;
  padding: 5px;
}

.team-table-container {
  display: flex;
  overflow-x: auto;
  min-height: 300px;
  max-height: 400px;
}

.forms-container {
  max-width: fit-content;
  max-height: fit-content;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  background-color: #94a5d7;
  border-radius: 10px;
}

.alliance-builder-container{
  display: flex;
  flex-direction: row;
}

.page {
    display: flex;
    flex-direction: row;
  }
  
  .header { 
    grid-area: header; 
    text-align: left;
    color: rgb(0, 0, 0); 
  }

  .page-window {
    display: flex;
    flex-direction: column;
  }

  .center {
    margin: auto;
    width: 50%;
    padding: 10px;
    justify-Content: center;
  }

  .alliance-container {
    display: flex;
    overflow-x: auto;
    min-height: 50px;
    max-height: 130px;
  }

  
  