.page {
  display: flex;
  flex-direction: row;
}

.page-container {
  width: 100%;
  display: flex;
}

.header {
  text-align: left;
  color: rgb(255, 255, 255); 
}

.divider {
  border-bottom: 2px solid #000;
  margin: 20px 0;
}

.box {
  background-color: #8b8b8b;
  border-radius: 10px;
  padding: 5px;
  flex-grow: 1;
  margin: 10px;
}
